﻿
@{
    ViewBag.Title = "Mi Blog sobre tecnología";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.MiBlog</h2>
<h3>Este es mi número secreto: @ViewBag.miNumero</h3>
<h3>Letras aleatorias @ViewBag.letras</h3>


